@charset "UTF-8";
/* Estilo para Telas. */


*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
header{
    background-color: lightgray;
}
header > h1{
    text-align: center;
    
}
menu li{
    color: white;
    background-color: rgb(77, 77, 77);
    display: inline-block;
    padding: 10px;
}
menu ul{
    list-style-type: none;
    background-color: gray;
}
article{
    width: 600px;
    display: block;
    margin: auto;
}
