@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

p{
    text-align: justify;
}
body{
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #D6D58E, #DBF227);
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 25px #0a416360;
}
h1{
    color: #005C53;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(63, 61, 61);
}

h2{
    color: #042940;
}